* {
  margin: 0;
  padding: 0;
}
/* root div styles */
.main {
  background-color: #3476f7;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  background-color: black;
  width: 50%;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 80vh;
  padding: 2rem 0rem;
}

.main-header {
  color: white;
}

.flex-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
  align-items: center;
  height: 10%;
}
/* Utility classes */
.icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.icon:hover {
  transform: rotate(20deg);
}
.todo-container {
  display: flex;
  justify-content: end;
  align-items: baseline;
  height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80%;
  padding: 2rem 0rem;
  flex-wrap: wrap;
}

.todo {
  border-radius: 10rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.todo:hover {
  border: 1px solid #fec374;
}
.todo p {
  color: white;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.todo-add {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.todo-add input {
  padding: 1rem;
  border: 3px solid #3476f7;
  border-radius: 2rem;
  width: 80%;
  font-size: 1rem;
}
.todo-add button {
  background: #fec374;
  padding: 20px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #3476f7;
  font-weight: bold;
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: start;
  align-items: center;
}
.flex img {
  margin-right: 2px;
}

/* todomodal */
.todo-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none !important;
}

.modal-content {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: flex-start;
  background-color: #fec374;
  flex-wrap: wrap;
  position: relative;
  border-radius: 2rem;
}
.modal-content .todo-add {
  width: 100% !important;
  margin-bottom: 2rem;
}
#modal-close {
  position: absolute;
  top: 0;
  right: 0 !important;
  margin: 0.5rem;
  color: #3476f7;
  cursor: pointer;
}
/* Responciveness */
@media only screen and (max-width: 1000px) and (min-width: 300px) {
  .content {
    width: 90%;
  }
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 10;

  color: black;
  background: white;
  border-radius: 1rem;
  padding: 0.5rem;
}

.container-tip:hover .tooltip {
  display: block;
  justify-content: center;
  align-items: center;
}
/* tooltipchangfe */
.tooltip {
  position: relative;
  display: block;
  background: inherit;
  display: flex;
  justify-content: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -12px !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav a {
  margin: 0.1rem;
  background-color: white;
  text-decoration: none;
  padding: 0.2rem;
  border-radius: 20rem;
}
.nav a:hover {
  background-color: #3476f7;
  color: black;
}

/* ScrollBarCustom */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3476f7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3476f7;
}

.active {
  background-color: yellow !important;
}
